@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-block: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  word-wrap: break-word;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
  padding-block: 1rem;
}