#contact {
  border-radius: 1rem;
  padding: 3rem;
  background-color: #2F3340;
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  .contact__title {
    p {
      color: #9892E0;
      font-size: 0.8rem;
      font-weight: 400;
    }

    h3 {
      margin-block: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2rem;
      background-image: linear-gradient(45deg, #695EE6 0%, #FF7A7A 85%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .social__icons-wrapper {
    display: flex;
    gap: min(0.5rem, 1rem);
    align-items: center;
    justify-content: center;

    .social__icon {

      .fa-envelope,
      .fa-whatsapp,
      .fa-linkedin-in,
      .fa-twitter,
      .fa-instagram {
        font-size: 1.3rem;
        padding: 0.7rem;
        border-radius: 50%;
        background: #3e4352;
        transition: all 500ms ease-in;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: rgb(255, 130, 255);
        }
      }

      .fa-envelope {
        color: #FF7A7A;
      }

      .fa-whatsapp {
        color: #FF7A7A;
      }

      .fa-linkedin-in {
        color: #DA7394;
      }

      .fa-twitter {
        color: #DA7394;
      }

      .fa-instagram {
        color: #AB6AB7;
      }
    }
  }

  .contact__paragraphs {
    font-size: 0.8rem;
    font-weight: 200;

    p {
      margin-block: 0.5rem 2rem;
    }

  }

}